:root {
    --primary-color: #3b82f6;
    --secondary-color: #1e40af;
    --color-light: #fff;
    --gray: #e2e8f0;
    --tertiary-color: #e4bb15;
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: var(--font);
    font-size: 100%;
}

/* Aside Navigation */

.aside-navigation {
    grid-row: span 3;
    background: var(--primary-color);
    padding: 20px;
    font-size: 1.2rem;
}

.aside-navigation__title {
    padding: 10px;
}

.aside-navigation,
.menu li a {
    color: var(--color-light);
}

nav .menu {
    margin-top: 20px;
}

.menu li {
    padding: 15px;
}

.aside-navigation__title,
.menu li a {
    display: grid;
    grid-template-columns: 20px 2fr;
    gap: 20px;
    align-items: center;
}

.aside-navigation__title i,
.menu li a i {
    justify-self: center;
}

/* Header */

header {
    z-index: 1;
    background: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 50px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

input[type='search'] {
    appearance: none;
    background: var(--gray);
    border: none;
    width: 80%;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
}

.notifications i,
.search-bar i {
    font-size: 1.3rem;
}

.notifications img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.notifications,
.profile-name,
.search-bar,
.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    column-gap: 25px;
}

.search-bar {
    grid-template-columns: auto 1fr;
}

.notifications {
    justify-self: center;
}

.notifications p,
.profile-name__text p {
    font-weight: 700;
}

.buttons button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    padding: 10px 25px;
    color: var(--color-light);
    width: 110px;
}

/* Main and aside-main */

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: var(--gray);
    padding: 20px;
}

main,
.aside-main {
    padding: 10px;
    display: grid;
    gap: 20px;
}

main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
}

.card {
    background: var(--color-light);
    border-radius: 10px;
}
.card p {
    color: #808080;
}

.main__title {
    grid-column: span 2;
}

.main__card {
    padding: 30px 20px;
    border-left: 10px solid var(--tertiary-color);
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.card__icons {
    place-self: end;
}
.card__icons i {
    padding: 10px;
    cursor: pointer;
}

.trending__card,
.announcements__card {
    padding: 30px;
}

.announcements__post:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.announcements__post {
    padding: 15px;
}

.trending__post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.trending__post {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 10px 0;
}
