:root {
    --primary-color: #3b82f6;
    --secondary-color: #1e40af;
    --color-light: #fff;
    --gray: #e8e8e8;
    --tertiary-color: #facc15;
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: var(--font);
    font-size: 100%;
}

/* Aside Navigation */

.aside-navigation {
    grid-row: span 4;
    background: var(--primary-color);
    padding: 20px;
}

.aside-navigation__title {
    padding: 10px;
}

.aside-navigation,
.menu li a {
    color: var(--color-light);
}

nav .menu {
    margin-top: 20px;
}

.menu li {
    padding: 10px;
}

.aside-navigation__title,
.menu li a {
    display: grid;
    grid-template-columns: 20px 2fr;
    column-gap: 20px;
    align-items: center;
}

.aside-navigation__title i,
.menu li a i {
    justify-self: center;
}

/* Header */

header {
    background: var(--color-light);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px 50px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

input[type='search'] {
    appearance: none;
    background: var(--gray);
    border: none;
    width: 80%;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
}

.notifications img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.notifications,
.profile-name,
.search-bar,
.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    column-gap: 25px;
}

.search-bar {
    grid-template-columns: auto 1fr;
}

.notifications {
    justify-self: center;
}

.notifications p,
.profile-name__text p {
    font-weight: 700;
}

.buttons button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: var(--primary-color);
    padding: 10px 25px;
    color: var(--color-light);
}

/* Main */
